<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ pageTitle }}</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('homepage')}}">Marko Twitteri kloon</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
       <!--  <li class="active"><a href="{{ url_for('homepage')}}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Mingi muu leht</a></li>
        <li><a href="#">Veel mingi leht</a></li> -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if session['logged_in'] %}
            Logged in as {{ session['username'] }}
            {% else %}
            Log in
            {% endif %}
            <span class="caret"></span></a>
            <div class="dropdown-menu">
              <ul>
                {% if session['logged_in'] %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="#" data-toggle="modal" role="button" data-target="#regModal">Create new user</a></li>
                <li role="separator" class="divider"></li>
              </ul>
              <form class="navbar-form navbar-left" method="post" action="/">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" name="loginUsername" maxlength="20">
                </div>
                <div class="form-group">
                  <input type="password" name="loginPassword" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" name="submit" value="login">Submit</button>
                </div>
              </form>
              {% endif %}

            </div>

          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible" role="alert" style="margin-top:20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{message}}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% endwith %}

  <div class="container-fluid" id="main">
    <!-- Jinja2 template contents begin from here -->
    {% block body %} 
    {% endblock %}
  </div>


  <!-- New user registration modal -->
  <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="regModalLabel">Create new user</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" method="post" action="/">
            <div class="form-group">
              <label for="registerUsername" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="registerUsername" name="registerUsername" placeholder="Username" maxlength="20" minlength="1">
              </div>
            </div>

            <div class="form-group">
              <label for="registerEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="registerEmail" name="registerEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="registerPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="Password" minlength="8">
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="submit" value="register">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/markotwitter.js') }}"></script>
</body>
</html>