{% extends "header.html" %}
{% block body %}
<div class="row">
<div class="col-md-6 col-md-offset-3">

<div id="tweetbox">

{% if session['logged_in'] %}
<form method="post" action="">
  <div class="form-group">
    <textarea class="form-control" id="tweetText" name="tweetText" placeholder="Your tweet here" maxlength="160"></textarea>
  </div>
  <button type="submit" name="submit" id="submit" value="tweet" class="btn btn-default">Tweet</button>
</form>
{% else %}
<form>
  <div class="form-group">
    <textarea class="form-control" id="tweet" placeholder="Log in to tweet!" maxlength="160" disabled></textarea>
  </div>
</form>
{% endif %}

</div>

</div>
</div>

<div class="row" style="margin-top:40px;"></div>

<div id="tweets">
<div class="container">

{% for tweet in tweets[::-1] %}
<div class="row" style="margin-top:10px;">
<div class="col-md-3 col-md-offset-1">
<p class="text-right"><a href="{{ url_for('user', user=tweet.username) }}">{{ tweet.username }}</a></p>
<p class="text-right">{{ tweet.datetime}}</p>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12" id="{{tweet.tweetID}}">
<p>{{ tweet.text}}</p>
</div>
</div>
{% if tweet.username == session['username'] %}
<div class="row" id="{{tweet.tweetID}}buttons">
<div class="col-md-1" id=""><a href="#" onclick="edit({{tweet.tweetID}})">Edit</a></div>
<div class="col-md-1"><a href="{{ url_for('delete', deleteid = tweet.tweetID) }}">Delete</a></div>
</div>
{% endif %}
</div>
</div>
{% endfor %}
</div>


</div>

<p>{{err}}</p>

{% endblock %}