{% extends "header.html" %}
{% block body %}

<div class="row" style="margin-top:20px; margin-bottom: 20px;">
<div class="col-md-7 col-md-offset-3"><h2>Tweets for user {{ user }}</h2>	
</div>

</div>

<div id="tweets">
<div class="container">

{% for tweet in tweets[::-1] %}
<div class="row" style="margin-top:10px;">
<div class="col-md-3 col-md-offset-1">
<p class="text-right"><a href="{{ url_for('user', user=tweet.username) }}">{{ tweet.username }}</a></p>
<p class="text-right">{{ tweet.datetime}}</p>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12" id="{{tweet.tweetID}}">
<p>{{ tweet.text}}</p>
</div>
</div>
{% if tweet.username == session['username'] %}
<div class="row" id="{{tweet.tweetID}}buttons">
<div class="col-md-1" id=""><a href="#" onclick="edit({{tweet.tweetID}})">Edit</a></div>
<div class="col-md-1"><a href="{{ url_for('delete', deleteid = tweet.tweetID) }}">Delete</a></div>
</div>
{% endif %}
</div>
</div>
{% endfor %}
</div>


</div>

<p>{{err}}</p>

{% endblock %}